<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/waiting']">
        返回
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">进行中</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        刷新
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="padding-top-0">
    <ion-list-header class="ion-header-tip" color="light">请选择任意卡片</ion-list-header>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let bonusNumber of bonusNumbers">
        <div class="bonus-card" (click)="chooseBonusNumber(bonusNumber)">{{bonusNumber}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
