<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exitGame()">
        退出
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">候鸡室</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        刷新
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap"><strong>这是一个游戏名称</strong></ion-label>
    </ion-item>
    <ion-item detail (click)="toGameParticipant()">
      <ion-label class="ion-text-wrap">参与者</ion-label>
      <ion-chip color="tertiary">
        <ion-label>77</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item detail (click)="toGameBonus()">
      <ion-label class="ion-text-wrap">奖池</ion-label>
      <ion-chip color="tertiary">
        <ion-label>77</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">开始时间</ion-label>
      <ion-chip color="tertiary">
        <ion-label>{{game.startTime ? (game.startTime | date:"yyyy/MM/dd hh:mm:ss") : "暂未设定"}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">结束时间</ion-label>
      <ion-chip color="tertiary">
        <ion-label>{{game.endTime ? (game.endTime | date:"yyyy/MM/dd hh:mm:ss") : "暂未设定"}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="game.startTime">
  <ion-button shape="round" expand="full" fill="outline" [disabled]="enterGame.disabled" [routerLink]="['/gaming', game.id]">{{enterGame.message}}
  </ion-button>
</ion-footer>