<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/waiting"></ion-back-button>
    </ion-buttons>
    <ion-title>参与人</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="padding-top-0">
    <ng-container *ngFor="let group of groupParticipants">
      <ion-item-divider>
        <ion-label>{{group.firstName}}</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let participant of group.participants">
        <ion-label>{{participant.username}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>