<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        登出
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">鸡市场</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        刷新
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="main" *ngIf="false">
    <strong class="empty-tip">暂无鸡脚可画</strong>
  </div>

  <ion-list class="padding-top-0" *ngIf="true">
    <ion-list-header class="ion-header-tip" color="light">请选择点击加入</ion-list-header>

    <ion-item>
      <ion-label>
        <h2>游戏名称</h2>
        <p>已有<strong class="joined-people">{{"XX"}}</strong>人加入</p>
      </ion-label>
      <ion-button slot="end" size="default" (click)="joinGame()">加入</ion-button>
    </ion-item>
  </ion-list>
</ion-content>