<ion-content>
  <div id="main">
    <strong>画 鸡 脚</strong>
    <div>
      <img alt="二维码" [src]="qr.url">
    </div>
  </div>
  <div id="footer" class="ion-padding-end ion-padding-bottom">
    <ion-button>小</ion-button>
    <ion-button>中</ion-button>
    <ion-button>大</ion-button>
    <ion-button>自定义</ion-button>
    <ion-item class="custom-input">
      <ion-label>标题</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="custom-input">
      <ion-label>图像</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content>
