<ion-content>
  <div id="main">
    <strong [style.font-size.px]="size.font">画 鸡 脚</strong>
    <div>
      <img alt="二维码" [src]="qr.url">
    </div>
  </div>
  <div id="footer" class="ion-padding-end ion-padding-bottom">
    <ion-button (click)="setSmallSize()">小</ion-button>
    <ion-button (click)="setMiddleSize()">中</ion-button>
    <ion-button (click)="setBigSize()">大</ion-button>
    <ion-button>自定义</ion-button>
    <ion-item class="custom-input">
      <ion-label>标题</ion-label>
      <ion-input #font debounce="300" [color]="customFont.color" [value]="customFont.value"
        (ionChange)="setCustomFont(font.value)"></ion-input>
    </ion-item>
    <ion-item class="custom-input">
      <ion-label>图像</ion-label>
      <ion-input #image debounce="300" [color]="customImage.color" [value]="customImage.value"
        (ionChange)="setCustomImage(image.value)"></ion-input>
    </ion-item>
  </div>
</ion-content>